<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>

    <title>Document</title>
</head>

<body>
    <h1>Online Photo Editor</h1>

    <button id="downloadButton" onclick="download()">Download</button>
    <input type="file" id="selectFile" onchange="selectFile(this)" style="display: none;" />
    <button id="uploadButton" onclick="document.getElementById('selectFile').click()">Upload</button>

    <div>
        <div id="imageDropzone" ondrop="dropHandler(event)" ondragover="dragOverHandler(event)">
            <p>Drag and drop an image or select an image via the new image button</p>
        </div>
        <canvas id="canvas"></canvas>
    </div>
    <br>

    <div class="adjust">
        <h3>Adjust image</h3>
        <button onclick="mirrorImage()">Mirror</button>
        <button onclick="reflectImage()">Reflect</button>
    </div>

    <div class="filters">
        <h3>Filters</h3>
        <button onclick="sepiaFilter()">Sepia</button>
        <button onclick="invertFilter()">Invert</button>
        <button onclick="imageKernel('emboss')">Emboss</button>
        <button onclick="imageKernel('outline')">Outline</button>
    </div>

    <div class="light">
        <h3>Light</h3>
        <label>Exposure<input type="range" id="exposure" min="-300" max="300" value="0"
                oninput="imageExposure()"></label>
        <label>Contrast<input type="range" id="contrast" min="-100" max="100" value="0"
                oninput="imageContrast()"></label>
        <label>Gamma<input type="range" id="gamma" min="50" max="350" value="200" oninput="imageGamma()"></label>
    </div>

    <div class="color">
        <h3>Color</h3>
        <button onclick="grayscaleFilter()">Grayscale</button>
        <label>Saturation<input type="range" id="saturation" min="-100" max="100" value="0"
                oninput="imageSaturation()"></label>
        <label>Temperature<input type="range" id="temperature" min="-100" max="100" value="0"
                oninput="imageTemperature()"></label>
        <label>Tint<input type="range" id="tint" min="-100" max="100" value="0" oninput="imageTint()"></label>
    </div>

    <div class="detail">
        <h3>Detail</h3>
        <label>Sharpen<input type="range" id="sharpen" min="0" max="10" value="0"
                oninput="imageKernel('sharpen')"></label>
        <button onclick="imageNoiseReduction()">Noise Reduction</button>
    </div>

    <div class="effects">
        <h3>Effects</h3>
        <label>Blur<input type="range" id="unsharp" min="0" max="100" value="0" oninput="imageUnsharp()"></label>
        <label>Grain<input type="range" id="grain" min="0" max="100" value="0" oninput="imageGrain()"></label>
    </div>
</body>

</html>