<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>

    <title>Document</title>
</head>

<body>
    <h1 id="title">Online Photo Editor</h1>

    <div id="imageActions">
        <button id="downloadButton" onclick="download()" disabled>Download</button>
        <input type="file" id="selectFile" onchange="selectFile(this)" style="display: none;" />
        <button id="uploadButton" onclick="document.getElementById('selectFile').click()">Upload</button>
    </div>

    <div id="canvasContainer">
        <div id="imageDropzone" ondrop="dropHandler(event)" ondragover="dragOverHandler(event)">
            <p>Drag and drop an image or select an image via the new image button</p>
        </div>
        <canvas id="canvas"></canvas>
    </div>
    <br>

    <div id="editOptions" hidden>

        <!-- Tabs -->
        <div id="tab">
            <button id="adjust-tab" class="tablinks btn-active" onclick="openTab(event, 'adjust')">Adjust</button>
            <button id="filters-tab" class="tablinks" onclick="openTab(event, 'filters')">Filters</button>
            <button id="light-tab" class="tablinks" onclick="openTab(event, 'light')">Light</button>
            <button id="color-tab" class="tablinks" onclick="openTab(event, 'color')">Color</button>
            <button id="detail-tab" class="tablinks" onclick="openTab(event, 'detail')">Detail</button>
            <button id="effects-tab" class="tablinks" onclick="openTab(event, 'effects')">Effects</button>
        </div>

        <!-- Content -->
        <div class="tabcontent" id="adjust">
            <button onclick="mirrorImage()"><img src="icons/symmetry-vertical.svg" width="32px" height="32px"></button>
            <button onclick="reflectImage()"><img src="icons/symmetry-horizontal.svg" width="32px"
                    height="32px"></button>
            <button onclick="rotateClockwise()"><img src="icons/arrow-clockwise.svg" width="32px"
                    height="32px"></button>
            <button onclick="rotateCounterClockwise()"><img src="icons/arrow-counterclockwise.svg" width="32px"
                    height="32px"></button>
        </div>

        <div class="tabcontent" id="filters" hidden>
            <button onclick="updateEdits('grayscale')">Grayscale</button>
            <button onclick="updateEdits('sepia')">Sepia</button>
            <button onclick="updateEdits('invert')">Invert</button>
            <button onclick="imageKernel('emboss')">Emboss</button>
            <button onclick="imageKernel('outline')">Outline</button>
        </div>

        <div class="tabcontent" id="light" hidden>
            <label for="exposure">Exposure</label><br>
            <input type="range" id="exposure" min="-300" max="300" value="0" oninput="updateEdits('exposure')">
            <br>

            <label for="contrast">Contrast</label><br>
            <input type="range" id="contrast" min="-100" max="100" value="0" oninput="updateEdits('contrast')">
            <br>

            <label for="gamma">Gamma</label><br>
            <input type="range" id="gamma" min="50" max="350" value="200" oninput="updateEdits('gamma')">
            <br>
        </div>

        <div class="tabcontent" id="color" hidden>
            <label for="saturation">Saturation</label><br>
            <input type="range" id="saturation" min="-100" max="100" value="0" oninput="updateEdits('saturation')">
            <br>
            <label for="temperature">Temperature</label><br>
            <input type="range" id="temperature" min="-100" max="100" value="0" oninput="updateEdits('temperature')">
            <br>
            <label for="tint">Tint</label><br>
            <input type="range" id="tint" min="-100" max="100" value="0" oninput="updateEdits('tint')">
        </div>

        <div class="tabcontent" id="detail" hidden>
            <label for="sharpen">Sharpen</label><br>
            <input type="range" id="sharpen" min="0" max="10" value="0" oninput="imageKernel('sharpen')">
            <br>
            <button onclick="imageNoiseReduction()">Noise Reduction</button>
        </div>

        <div class="tabcontent" id="effects" hidden>
            <label for="unsharp">Blur</label><br>
            <input type="range" id="unsharp" min="0" max="100" value="0" oninput="imageUnsharp()">
            <br>
            <label for="grain">Grain</label><br>
            <input type="range" id="grain" min="0" max="100" value="0" oninput="imageGrain()">
        </div>
    </div>
</body>

</html>