* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Helvetica, sans-serif, Arial;
  background-color: #121212;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

#title {
  font-size: 1.5em;
  font-weight: bold;
  margin: 1em 0;
  text-align: center;
  color: white;
}

#imageActions {
  text-align: center;
  margin-bottom: 1em;
}

#imageActions button {
  background-color: #373737;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
}

#imageActions button:hover {
  background-color: #515151;
}

#imageActions #downloadButton:disabled,
#imageActions #resetButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#canvasContainer {
  padding: 0;
  height: auto;
  width: auto;
  position: relative;
}

#imageDropzone {
  background-color: #373737;
  width: 250px;
  height: 150px;
  margin: 0 auto;
  padding: 6px;
  border-radius: 3px;
}

#imageDropzoneInner {
  border: 1px dashed white;
  border-radius: 3px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 15px;
  height: calc(100% - 30px);
}

canvas {
  max-width: 100%;
  max-height: 50vh;
  margin: auto;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#tab {
  display: flex;
  background-color: #373737;
  border-radius: 6px 6px 0 0;
}

#tab button {
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
  height: 40px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: calc(100% / 5);
}

#tab button:hover {
  background-color: #515151;
  color: white;
  border-radius: inherit;
}

.btn-active {
  background-color: #515151 !important;
  border-radius: inherit;
}

#editOptions {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.tabcontent {
  background-color: #515151;
  padding: 8px;
  color: white;
  border-radius: 0 0 6px 6px;
}

.tabcontent svg {
  margin-right: 0.5em;
}

.tabcontent button {
  background-color: #7b7b7b;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
}

.tabcontent button:hover {
  background-color: #b3b3b3;
  color: white;
}

.active-filter {
  background-color: #b3b3b3 !important;
  color: white;
}

.input-range {
  margin: 8px;
}

.input-range div {
  display: flex;
  align-items: center;
  margin-top: 3px;
}

.input-range p {
  float: left;
  width: 10%;
  text-align: center;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 90%;
  height: 5px;
  background: #b3b3b3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 15px;
}

input[type="range"]:hover {
  background: #e2e2e2;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #b3b3b3;
  cursor: pointer;
  border: 1px solid rgb(52, 52, 52);
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #e2e2e2;
}

footer {
  margin-top: auto;
}

#footer-inner {
  margin-top: 1em;
  color: white;
  background-color: #373737;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

#footer-title p {
  font-size: 1.17em;
  font-weight: bold;
  margin: 0;
}

#copyright {
  font-size: 0.8em;
}

#social-container a {
  float: left;
  margin: 0 5px;
}

.social-background {
  background-color: #515151;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-background:hover {
  background-color: #b3b3b3;
}

@media screen and (max-width: 600px) {
  #tab {
    border-radius: 0;
  }

  .tabcontent {
    border-radius: 0;
  }

  #footer-inner {
    flex-direction: column;
  }

  #copyright {
    margin: 1em 0;
  }
}

@media screen and (max-width: 425px) {
  #imageDropzone {
    display: none;
  }

  #editOptions {
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  #tab {
    overflow-x: scroll;
  }

  #tab button {
    min-width: 60px;
  }
}
