<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>

        <title>Document</title>
</head>

<body>
    <h1>Online Photo Editor</h1>

    <div>
        <input type="file" id="uploadImage" onchange="readFile(this)" />
        <canvas id="canvas"></canvas>
    </div>
    <br>

    <div class="filters">
        <h3>Filters</h3>
        <button onclick="sepiaFilter()">Sepia</button>
        <button onclick="invertFilter()">Invert</button>
        <button onclick="imageKernel('emboss')">Emboss</button>
    </div>

    <div class="light">
        <h3>Light</h3>
        <label>Exposure<input type="range" id="exposure" min="-300" max="300" value="0"
                oninput="imageExposure()"></label>
        <label>Contrast<input type="range" id="contrast" min="-100" max="100" value="0"
                oninput="imageContrast()"></label>
        <label>Gamma<input type="range" id="gamma" min="50" max="350" value="200" oninput="imageGamma()"></label>
    </div>

    <div class="color">
        <h3>Color</h3>
        <button onclick="grayscaleFilter()">Grayscale</button>
        <label>Saturation<input type="range" id="saturation" min="-100" max="100" value="0"
                oninput="imageSaturation()"></label>
        <label>Temperature<input type="range" id="temperature" min="-100" max="100" value="0"
                oninput="imageTemperature()"></label>
        <label>Tint<input type="range" id="tint" min="-100" max="100" value="0" oninput="imageTint()"></label>
    </div>

    <div class="detail">
        <h3>Detail</h3>
        <label>Sharpen<input type="range" id="sharpen" min="0" max="10" value="0"
                oninput="imageKernel('sharpen')"></label>
    </div>

    <div class="effects">
        <h3>Effects</h3>
        <button onclick="imageKernel('blur')">Blur</button>
    </div>
</body>

</html>