<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>

    <title>Document</title>
</head>

<body>
    <h1>Hello, world!</h1>

    <input type="file" id="uploadImage" onchange="readFile(this)" />
    <canvas id="canvas"></canvas>
    <button onclick="grayscaleFilter()">Grayscale</button>
    <button onclick="sepiaFilter()">Sepia</button>
    <button onclick="invertFilter()">Invert</button>
    <button onclick="blurFilter()">Blur</button>
</body>

</html>