<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>

        <title>Document</title>
</head>

<body>
    <h1>Online Photo Editor</h1>

    <input type="file" id="uploadImage" onchange="readFile(this)" />
    <canvas id="canvas"></canvas>
    <button onclick="grayscaleFilter()">Grayscale</button>
    <button onclick="sepiaFilter()">Sepia</button>
    <button onclick="invertFilter()">Invert</button>
    <button onclick="blurFilter()">Blur</button>

    <label>Brightness<input type="range" id="brightness" min="-255" max="255" value="0"
            oninput="imageBrightness()"></label>
    <label>Saturation<input type="range" id="saturation" min="-100" max="100" value="0"
            oninput="imageSaturation()"></label>
    <label>Contrast<input type="range" id="contrast" min="-100" max="100" value="0" oninput="imageContrast()"></label>
</body>

</html>